.flexibileComponentsHolder{
    width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexibileComponentsMain{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    padding: 100px 0;
}

.flexibileComponentsLeftSide{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.flexibileComponentsLeftSide p{
    color: grey;
    font-weight: 500;
    margin: 0px;
    text-align: left;
}

.flexibileComponentsLeftSide h1{
    color: #454F5B;
    font-size: 56px;
    margin: 0px;
}

.flexibileComponentsRightSide{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.usersComponent{
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usersLeft{
    gap: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliderComponent{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.cardHolderRightSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
    gap: 20px;
}

.basicStuff{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    width: 100%;
}

@media screen and (max-width: 1450px) {
    .flexibileComponentsMain{
        margin: 0px auto;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .flexibileComponentsRightSide{
        padding: 20px 0px;
    }
}

@media screen and (max-width: 800px) {
    .flexibileComponentsLeftSide{
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .flexibileComponentsLeftSide{
        text-align: center;
    }
    .flexibileComponentsLeftSide h1{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .usersComponent{
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .sliderComponent{
        flex-direction: column;
    }
    .cardHolder{
        flex-direction: column;
        gap: 10px;
    }
}