.homeViewHolder{
    width: 100%;
    margin: 0px auto;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeViewMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
}

.homeViewLeft{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.homeViewLeft p{
    color: grey;
    font-weight: 500;
    margin: 0px;
    text-align: left;
}

.createYourWebTitle{
    color: #454F5B;
    font-size: 56px;
    margin: 0px;
}

.dux{
    color: #FA541C;
    font-size: 56px;

}

.homeViewButton{
    max-width: 250px;
}

.workspace{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
}

.homeViewRight{
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .homeViewMain{
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
    }
    .homeViewLeft{
        max-width: 800px;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .createYourWebTitle{
        text-align: center;
    }
    .homeViewLeft p{
        text-align: center;
    }
    .homeViewButton{
        padding: 10px 10px;
    }
    .homeViewRight{
        margin: 0px auto;
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .homeViewMain{
        gap: 30px;
    }
    .homeViewLeft{
        max-width: 500px;
    }
    .homeViewRight{
        display: flex;
        justify-content: center;
    }
    .homeHero{
        width: 90%;
    }
}

