.containedButtons{
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width:600px) {
    .containedButtons{
        flex-direction: column;
    }
}