.duxDotHolder{
    width: 100%;
    margin: 100px auto;
}

.duxDotMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameAndDot{
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nameAndDot p{
    margin: 0;
    font-size: 80px;
}

.outro{
    color: grey;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .duxDotHolder{
        margin-top: 50px;
    }
}