.forDesignerHolder{
    width: 100%;
    margin: 100px auto;
}

.forDesignerMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 100px;
}

.forDesignerMain p{
    color: white;
    font-weight: 500;
    margin: 0px;
    text-align: center
}

.forDesignerMain h1{
    color: white;
    font-size: 56px;
}

.forDesignerBackground{
    background-image: url("../../assets/forDesigners1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    position: relative;
}

.forDesignersButton{
    max-width: 250px;
    width: 100%;
    background-color: #fa541c;
    color: white;
}

.overlay{
    background-color: #111416a1;;
    width: 100%;
    height: 100%;
    position: absolute;
}

.innerHolder{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .forDesignerHolder{
        margin: 20px auto;
    }
    .forDesignerMain{
        padding: 0;
    }
    .forDesignerBackground{
        padding: 20px 0;
    }
}