.forDesignerHolder{
    width: 100%;
    margin: 100px auto;
}

.forDesignerMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 100px;
}

.forDesignerMain p{
    color: grey;
    font-weight: 500;
    margin: 0px;
    text-align: center
}

.forDesignerMain h1{
    color: #454F5B;
    font-size: 56px;
}

.forDesignerBackground{
    background-image: url("../../assets/forDesginers.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.forDesignersButton{
    max-width: 250px;
    width: 100%;
}