.App {
  text-align: center;
  margin: 0px auto;
}

.searchIcon{
  max-width: 30px;
  width: 100%;
  cursor: pointer;
}

.settingsIcon{
  max-width: 30px;
  width: 100%;
  cursor: pointer;
}

.workspaceIcon{
  max-width: 30px;
  width: 100%;
}

.homeHero{
  width: 100%;
}

.newStart{
  max-width: 800px;
  width: 100%;
}

.minimal_dash{
  max-width: 900px;
  width: 100%;
  position: absolute;
  bottom: -50px;
}

